  <!-- Google+ Meta Tags -->
  <meta itemprop="name" content="MaratonaTO">
  <meta itemprop="description" content="MaratonaTO seu site oficial da competições de programação no estado do Tocantins.">
  <meta itemprop="image" content="http://www.maratonato.github.io">

  <!-- Facebook Meta Tags Open Graph -->
  <meta property="og:title" content="MaratonaTO" />
  <meta property="og:type" content="article"/>
  <meta property="og:url" content="http://www.maratonato.github.io"/>
  <meta property="og:image" content="images/icpc_logo.png"/>
  <meta property="og:description" content="MaratonaTO seu site oficial da competições de programação no estado do Tocantins."/>
  <meta property="og:site_name" content="MaratonaTO"/>
  <meta property="fb:admins" content="100007196084666, 100001294094757"/>
